.img-fill {
    display: block ;
    height: 100% !important ;
    width: 100%  !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.icon-space {
    margin-right: 0.5rem;
}

.icon-space-extra {
    margin-right: 1rem;
}

.divider {
    display: block;
    clear: both;
    width: 100%;
}
.divider-thick {
    height: 0.3rem;
    background: $lightgray;
}
.divider-thin {
    height: 1px;
    background: fade-out($lightgray, 0.5);    
}

.case {
    @include font-control($main-font , 600 , converter(1.4, rem, perc), italic);
}

.mouse-pointer {
    cursor: pointer;
}


.main-font {
    font-family: $main-font !important;
}
.second-font {
    font-family: $second-font !important;
}

.overlay-master {
    z-index: 1000;
}

.overlay {
    position: absolute ;
    top: 0; 
    left: 0 ;
    height: 100% ; width: 100% ;
}

.overlay-black {
    background: fade-out($black, 0.4);
}

.overlay-white {
    background: fade-out($white, 0.3);
}

.position-left {
    display: inline-block;
    position: absolute ;
    left: 0;
}
.position-right  {
    display: inline-block;
    position: absolute ;
    right: 0;
}


.border-bold {
    border-width: 3px !important;
}

.border-normal {
    border-width: 2px !important;
}

.border-thin {
    border-width: 1px !important;
}


.button-wrapper {
    @include no-margin('all');
    @include no-padding('all');
}

.pad-section {
    padding: 4rem 1.5rem 1rem;
}

.inherit-height {
    height: inherit;
}

.bg-transparent {
    background: transparent !important;
}

.transition {
    transition: all .3s ease;
}