@function pxtoperc($child-height, $parent-height) {
    @return percentage($child-height / $parent-height / 14);
}



@function converter($value, $current-unit, $convert-unit) {
    
    // PERCENTAGE BASE FOR ROOT ELEMENT THAT EQ 10PX
    $root-base: 62.5;
    $px-base: 10;
    $px-base-for-perc: 16; // Converting from px Based On $px Base


    @if $current-unit == px {
        @if $convert-unit == perc {
            @return percentage($value / $px-base-for-perc);
        }
        @else if $convert-unit == rem {
            @return ($value / $px-base)rem;
        }
    }
    @else if $current-unit == rem {
        @if $convert-unit == perc {
            @return ($value * $root-base) * 1%;
        }
        @else if $convert-unit == px {
            @return ($value * $px-base) + 0px;
        }
    }
    @else if $current-unit == perc {}
}

@function rem ($value) {
    @return $value+rem;
}