$custom: #2dc4b9;
$gold: #F39C12;


// Color variables
$light-black: #323232;
$white: #ffffff;
$black: #000000;


$lightdark-alt: #cccccc;


$lightgray: #7a8c9a;
$whitegray: #eeeeee;
$midgray: #cccccc;
$dark: #36404a;



$custom-bootstrap-colors: (
    danger: #f05050,
    success: #81c868,
    warning: #ffbd4a,
    primary: #5d9cec,
    info: #34d3eb,
    muted: #98a6ad
) !default;


// Author Colors
$purple: #7266ba;
$pink: #fb6d9d;
$inverse: #4c5667;



$whites-colors: (
    bk-light: #eeeeee,
    light-1: #f3f3f3,
    light-2: #ebeff2,
    light-3: #f9f9f9,
    light-alt: #fafafa  
) !default;

$dark-colors: (
    bk-dark: #323232,
    dak-alt:#36404a,
    dark-1: #797979,
    dark-2: #555555,
    dark-3: #444444,
    dark-4: #333333
    dark-5: #222222,
    dark-6: #111111,
    dark-7: #000000
) !default;
