@mixin bk-form-helper() {
    .form-helper {
        @include text-control(uppercase, left, $muted);
        font-weight: $semi-bold;
        font-size: 75%;
    }
    &.success {
        .form-helper {
            color: Bootstrap-color('success') !important;
        }
        .form-control {
            border-color: Bootstrap-color('success') !important;
        }
    }

    &.danger {
        .form-helper {
            color: Bootstrap-color('danger') !important;
        }
        .form-control {
            border-color: Bootstrap-color('danger') !important;
        }
    }

    &.warning {
        .form-helper {
            color: Bootstrap-color('$warning') !important;
        }
        .form-control {
            border-color: Bootstrap-color('$warning') !important;
        }
    }
}